/* Scss Document */
.sg-debug-bar {
  background-color: #e3e3e3;
  padding: 1px;
  border: 2px solid #d5d5d5; }
  .sg-debug-bar input {
    background: linear-gradient(white, #c5c5c5);
    color: #525252;
    border: 0px;
    margin: 1px;
    padding: 4px; }
    .sg-debug-bar input:hover {
      background: linear-gradient(#15446b, #0c5670);
      cursor: pointer;
      color: white; }

.sg-tab-main {
  max-width: 600px;
  max-height: 500px; }
  .sg-tab-main .sg-tab-menu {
    padding-top: 10px; }
  .sg-tab-main .sg-tab-body .sg-tab-ibody:nth-child(1) {
    background-color: white; }
  .sg-tab-main .sg-tab-body .sg-tab-ibody:nth-child(2) {
    background-color: white; }
  .sg-tab-main .sg-tab-body .sg-tab-ibody:nth-child(3) {
    background-color: white; }

#sg_debug_vform table, #sg_debug_vses table, #sg_debug_vexp table {
  _background-color: #646464;
  color: #686868;
  width: 100%;
  border-collapse: collapse; }
  #sg_debug_vform table tr:nth-child(2n), #sg_debug_vses table tr:nth-child(2n), #sg_debug_vexp table tr:nth-child(2n) {
    background-color: rgba(229, 229, 229, 0.3); }
  #sg_debug_vform table td, #sg_debug_vses table td, #sg_debug_vexp table td {
    padding: 2px;
    width: 50%; }

table.debug_p {
  background-color: white; }

th.debug_p {
  color: white;
  height: 24px;
  background-image: url(../imagenes/fondo_xverde1.png); }

td.debug_1, td.debug_2 {
  font-family: Tahoma;
  font-size: 8pt; }

td.debug_1 {
  background-color: white; }

td.debug_2 {
  /*background-color: #e6e6e6;*/
  background-color: #f0f8ff; }

td.debug_menu, debug_vista, debug_formulario, debug_forma,
debug_procedimiento, debug_comando, debug_navegador,
debug_grafico, debug_query {
  font-family: Tahoma;
  font-size: 8pt;
  vertical-align: top; }

td.debug_menu {
  background-color: #fff0f5;
  color: purple; }

td.debug_vista {
  background-color: #cafeff;
  color: #00008b; }

td.debug_formulario {
  background-color: #ffc0cb;
  color: red; }

td.debug_forma {
  background-color: #d3f2ca;
  color: #00803e; }

td.debug_navegador {
  background-color: #ffffb0;
  color: #b22222; }

td.debug_procedimiento {
  background-color: #c3fbc4;
  color: black; }

td.debug_comando {
  background-color: #95ceff;
  color: black; }

td.debug_estructura {
  background-color: #edf0c1;
  color: black; }

td.debug_query {
  background-color: #fff8dc;
  color: #dc143c; }

td.debug_panel {
  background-color: white;
  color: blue;
  font-weight: bold; }

input.debug_boton {
  background-image: url(../imagenes/fondo_xverde1.png);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer; }

.debug_span {
  position: relative;
  _z-index: 50000;
  background-color: #FFF; }

#sg_panel_8 .sg_form {
  height: auto !important; }

.sg_debug_ipanel {
  border: 4px solid #fbfbfb;
  min-width: 400px;
  height: 400px;
  padding: 5px;
  overflow: auto; }
  .sg_debug_ipanel > div > div {
    padding: 2px;
    flex: 1 1 50%;
    border: 1px solid #e9e9e9; }
  .sg_debug_ipanel > div {
    display: flex;
    flex-direction: row; }
    .sg_debug_ipanel > div:nth-child(2n) {
      background-color: rgba(229, 229, 229, 0.4); }
    .sg_debug_ipanel > div:nth-child(2n+1) {
      background-color: rgba(217, 217, 217, 0.4); }

.sg_debug_main {
  border: 2px solid #636363;
  padding: 2px;
  margin: 6px;
  background: linear-gradient(lightgray, whitesmoke); }
  .sg_debug_main .sg_debug_row {
    _border: 1px solid green;
    padding: 2px;
    display: flex;
    flex-direction: row; }
    .sg_debug_main .sg_debug_row > div {
      border: 0px solid blue;
      padding: 3px;
      margin: 3px;
      background-color: rgba(0, 0, 0, 0.1);
      overflow: hidden;
      _width: 50%; }
    .sg_debug_main .sg_debug_row > div:nth-child(1) {
      width: 30%;
      flex: 0 0 auto; }
    .sg_debug_main .sg_debug_row > div:nth-child(2) {
      _width: 30%;
      flex: 1 1 auto; }
  .sg_debug_main > .sg_debug_table > .sg_debug_param > *:nth-child(1) {
    cursor: pointer;
    text-decoration: underline; }
  .sg_debug_main > .sg_debug_table > .sg_debug_param > *:nth-child(2) {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s ease-out all; }
  .sg_debug_main > .sg_debug_table > .sg_debug_param:hover > *:nth-child(1) {
    background-color: #9e0b0b;
    color: white;
    padding: 2px; }
  .sg_debug_main > .sg_debug_table > .sg_debug_param:hover > *:nth-child(2) {
    max-height: 200px;
    overflow: auto; }
  .sg_debug_main .sg_debug_param {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    margin: 3px; }
    .sg_debug_main .sg_debug_param > div:nth-child(2) {
      margin: 4px;
      border: 2px solid white;
      _display: inline-block;
      _width: 50%; }
  .sg_debug_main .sg_debug_link {
    background-color: #304f56 !important;
    color: white !important;
    cursor: pointer; }
    .sg_debug_main .sg_debug_link:hover {
      background-color: #676767 !important; }
